@model NestedViewModelsBinding.Models.Dto
@{
    ViewData["Title"] = "Test";
}
<h1>@ViewData["Title"]</h1>

<form method="post"
      asp-action="Test">
    
        <Partial name="Dto" for="@Model" />

    <input type="submit"
           value="Submit" />
</form>