@model NestedViewModelsBinding.Controllers.DtoA

@{
    ViewData["Title"] = "Test";
}
<h1>@ViewData["Title"]</h1>

<form method="post"
      asp-action="Test">
    <p>
        <input asp-for="Id">
    </p>

    <partial name="_DtoBs"
             for="DtoBs" />

    <input type="submit"
           value="Submit" />
</form>
