@model NestedViewModelsBinding.Controllers.DtoA

@{
    ViewData["Title"] = "Test";
}
<h1>@ViewData["Title"]</h1>

<form method="post"
      asp-action="Test">
    <p>
        <input asp-for="Id">
    </p>
    @if (Model.DtoBs?.Length > 0)
    {
         // TODO
    }

    <input type="submit"
           value="Submit" />
</form>
